Repository Brick-Technology/RuoYi-Cloud: changes, and which GitLab CI jobs are due for each by the changed paths.
All: be_triggers, fe_triggers, base_triggers

.gitlab-ci.yml:

stages:
  - triggers

be_triggers:
  stage: triggers
  trigger:
    include: .gitlab/be.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - ruoyi-api/*
        - ruoyi-auth/*
        - ruoyi-common/*
        - ruoyi-gateway/*
        - ruoyi-modules/*
        - ruoyi-visual/*
        - docker/ruoyi/*
  
fe_triggers:
  stage: triggers
  trigger:
    include: .gitlab/fe.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - ruoyi-ui/*
        - docker/nginx/*

base_triggers:
  stage: triggers
  trigger:
    include: .gitlab/fe.gitlab-ci.yml
    strategy: depend
  rules:
    - changes:
        - docker/mysql/*
        - sql/*

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update .gitlab/base.gitlab-ci.yml, .gitlab/be.gitlab-ci.yml, .gitlab/fe.gitlab-ci.yml
  .gitlab/base.gitlab-ci.yml
  .gitlab/be.gitlab-ci.yml
  .gitlab/fe.gitlab-ci.yml
Due: none

Update .gitlab/base.gitlab-ci.yml
  .gitlab/base.gitlab-ci.yml
Due: none

feat: ui yarn.lock file
  ruoyi-ui/yarn.lock
Due: fe_triggers

Update .gitlab-ci.yml, .gitlab/be.gitlab-ci.yml, .gitlab/fe.gitlab-ci.yml
  .gitlab-ci.yml
  .gitlab/be.gitlab-ci.yml
  .gitlab/fe.gitlab-ci.yml
Due: none

Update ruoyi-ui/README.md
  ruoyi-ui/README.md
Due: fe_triggers

feat: loadbalance module
  README2.md
  pom.xml
  ruoyi-common/pom.xml
  ruoyi-common/ruoyi-common-loadbalancer/pom.xml
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/common/Constant.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/config/CustomLoadBalanceAutoConfiguration.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/config/CustomLoadBalanceClientConfiguration.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/config/FeignRequestInterceptor.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/core/CollectionUtils.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/core/CustomSpringCloudLoadBalancer.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/core/NacosBalancer.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/java/com/ruoyi/common/loadbalance/core/StringUtils.java
  ruoyi-common/ruoyi-common-loadbalancer/src/main/resources/META-INF/spring.factories
  ruoyi-ui/.gitignore
  test/auth.rest
Due: be_triggers, fe_triggers

fix: dep loadbalancer
  README2.md
  pom.xml
  ruoyi-api/pom.xml
  ruoyi-auth/pom.xml
  ruoyi-gateway/pom.xml
  ruoyi-modules/pom.xml
Due: be_triggers

feat: 前端开发环境微服务请求带上header version的解决方案
  README2.md
Due: none

feat: switch readme
  README.md
  README2.md
Due: none
